{{ template "Header"  . }}
{{ template "Imports" . }}
{{ template "Middle"  . }}
{{ template "Topbar"  . }}
<!-- Content -->
<style>
    body {
        background-color: #f5f5f5;
    }
</style>

<div class="container text-center">

    <main class="form-signin">
        <form action="/login/" method="POST">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <!--        Login with email            -->
                <!--
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
                -->
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                <label for="username">Username:</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            {{ if .nextUrl }}
            <div class="form-floating" style="display: none;">
                <input type="nextUrl" class="form-control" id="nextUrl" name="nextUrl" placeholder="nextUrl" value="{{.nextUrl}}">
                <label for="nextUrl">nextUrl</label>
            </div>
            {{ end }}

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2022</p>
        </form>
    </main>
</div>
{{ template "Footer" . }}
</body>
</html>