/* Style all input fields */  
/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  /* background: #f1f1f1; */
  color: #000;
  position: relative;
  /* padding: 20px; */
  margin-top: 10px;
  border-radius: 8px;
  padding-left: 10px;
  padding-bottom: 1px;
  padding-top: 5px;
}

#message p {
  /* padding: 10px 35px; */
  /* font-size: 18px; */
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid-box {
  background-color: honeydew; 
}

.valid:before {
  position: relative;
  /* left: -35px; */
  content: "✔\00a0 ";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid-box {
  background-color: mistyrose; /* antiquewhite */ 
}

.invalid:before {
  position: relative;
  /* left: -35px; */
  content: "✖\00a0 ";
}