/* 
    Document   : no-more-tables
    Created on : 28/02/2012, 11:01:54 AM
    Author     : Simon Elvery
    Description:
        Demonstration of the responsive tables method described at by Chris Coyier
		at http://css-tricks.com/responsive-data-tables/
*/

@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	.table-mobile table, 
	.table-mobile thead, 
	.table-mobile tbody, 
	.table-mobile th, 
	.table-mobile td, 
	.table-mobile tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.table-mobile thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-mobile tr { border: 1px solid #ccc; }

	.table-mobile td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}

	.table-mobile td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	.table-mobile td:before { content: attr(data-title); }

	/* Fix to apply when Datatable is used: without it, data-title in td are not shown properly */
	table.dataTable tbody th, table.dataTable tbody td {
        padding-left: 50%;
    }
}
